<%- include("partials/header") -%>

<div class="container pt-5">
<h2 class="text-center">All Products</h2>

<div class="py-4">
<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Featured</th>
        <th>Rating</th>
        <th>Mfg date</th>
        <th>Company</th>
    </tr>
    <% products.forEach(function(product){ %>
    <tr>
        <td><%= product.productID %></td>
        <td><%= product.name %></td>
        <td><%= product.price %></td>
        <% if (product.isFeatured) { %>
            <td>Yes</td>

        <% }else { %>
            <td>No</td>
        <% } %>
        
        <td><%= product.rating %></td>
        <td><%= product.createdAt %></td>
        <td><%= product.company %></td>
        <td>
        <form action="/delete" method="post">
            
              <button class="btn btn-danger" name="_ID" value="<%=product._id%>" onChange="this.form.submit()">Delete</button>
            
        </form>
    </td>
        <td>
        <form action="/updt" method="post">
            
            <button class="btn btn-warning" name="prodID" value="<%=product.productID%>" onChange="this.form.submit()">Update</button>
          
        </form>
    </td>
        
    
    </tr>
    <%})%>
</table>
</div>
</div>

<%- include("partials/footer") -%>